.App {
  height: 100vh;
  text-align: center;
  background-image: url('img/hidden-leaf-village.webp');
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}