body {
  background-image: url('img/hidden-leaf-village.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.App {
  text-align: center;
}
.App-header {
  margin: 0;
  padding: 0;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.card-container {
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}
.random-img-btn {
  width: 100px;
  align-self: center;
}