@font-face {
  font-family: Permanent Marker;
  font-style: normal;
  font-weight: bold;
  src: url(./Permanent_Marker/PermanentMarker-Regular.ttf) format(truetype);
}
body {
  font-family: 'Permanent Marker';
  background-image: url('img/hidden-leaf-village.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h1 {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(172, 30, 201, 0.397);
}
.App {
  text-align: center;
}
.App-header {
  margin: 0;
  padding: 0;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  background-color: rgba(172, 30, 201, 0.397);
  min-height: 50vh;
  border-radius: 15px;
  padding: 10px;
}
.card-container {
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}
.random-img-btn {
  width: 100px;
  align-self: center;
}
.random-img {
  border: 1px solid yellow;
  border-radius: 15px;
  box-shadow: 3px 5px 10px 0px rgb(255, 187, 0);
}